AniChou==9.1.6-beta
BeautifulSoup==3.2.1
Flask==0.9
Jinja2==2.6
Mako==0.7.3
MarkupSafe==0.15
PAM==0.4.2
Pillow==1.7.8
Twisted-Core==12.3.0
Twisted-Web==12.3.0
Werkzeug==0.8.3
apt-xapian-index==0.45
argparse==1.2.1
boto==2.3.0
chardet==2.0.1
compizconfig-python==0.9.9.0
debtagshw==0.1
defer==1.0.6
dirspec==4.1.91
distribute==0.6.34
duplicity==0.6.21
httplib2==0.7.7
lxml==3.0.1
mcomix==0.99
oauth==1.0.1
oauthlib==0.3.5
oneconf==0.3.3
pexpect==2.4
piston-mini-client==0.7.3
pyOpenSSL==0.13
pycrypto==2.6
pycups==1.9.62
pycurl==7.19.0
pyflakes==0.6.1
pygobject==3.7.5.1
pyserial==2.6
pysmbc==1.0.13
python-apt==0.8.8ubuntu5
python-cloudfiles==1.7.9.2
python-debian==0.1.21-nmu2ubuntu1
pyxdg==0.25
reportlab==2.6
requests==1.0.4
sessioninstaller==0.0.0
six==1.2.0
software-center-aptd-plugins==0.0.0
system-service==0.1.6
ubuntu-tweak==0.8.3
wsgiref==0.1.2
xdiagnose==3.4.3
zope.interface==4.0.3
